<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudanuniversity.cms.repository.mapper.CmsProcessTinyCategoryMapper">
    <resultMap id="CmsProcessTinyCategoryMap" type="com.fudanuniversity.cms.repository.entity.CmsProcessTinyCategory">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="study_type" property="studyType"/>
        <result column="process_category" property="processCategory"/>
    </resultMap>

    <sql id="_field_list">
        `id`, `type`, `study_type`, `process_category`
    </sql>

    <sql id="_value_list">
        #{id}, #{type}, #{studyType}, #{processCategory}
    </sql>

    <sql id="_common_where">
        <if test="id != null">
            AND `id` = #{id}
        </if>
        <if test="type != null">
            AND `type` = #{type}
        </if>
        <if test="studyType != null">
            AND `study_type` = #{studyType}
        </if>
        <if test="processCategory != null">
            AND `process_category` = #{processCategory}
        </if>
    </sql>

    <select id="getTinyCategory" parameterType="map" resultMap="CmsProcessTinyCategoryMap">
        SELECT
        <include refid="_field_list"/>
        FROM `cms_study_plan_process_tinycategory`
        <trim prefix="WHERE" prefixOverrides="AND" suffix="">
            <include refid="_common_where"/>
        </trim>
    </select>

    <insert id="addTinyCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        `cms_study_plan_process_tinycategory`(`type`, `study_type`, `process_category`)
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{type}, #{studyType}, #{processCategory}
        </trim>
    </insert>

    <delete id="resetProcessCategory" parameterType="map">
        DELETE FROM `cms_study_plan_process_tinycategory`
        WHERE `type` = #{type} AND `study_type` = #{studyType}
    </delete>
</mapper>